.status{
    display: flex;
}
.status > *{
    margin: 1rem;
}
.status li{
    list-style: none;
}
.class-status{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.topic-questions{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
